# Rust
/target

# DBML and extra
dbml-error.log

# mdbook
book/

# API responses
http/res/
http-client.private.env.json

# secret
csc.toml
mise*.local.toml

# database files
testing.db*
pgsqldata/
mssqldata/