[package]
name = "laundry-data"
version = "0.1.0"
edition = "2024"
publish = false


[dependencies]
sql-middleware = { version = "0.6.0", default-features = false }
refinery-core = { version = "0.9.0" }
time = "0.3.47  "
refinery = { version = "0.9.0", features = ["enums"] }
tokio = { version = "1", features = ["full"] }
cfg-if = "1.0.4"


[features]
default = ["postgres"]
postgres = ["sql-middleware/postgres", "refinery/tokio-postgres"]
mssql = ["sql-middleware/mssql", "refinery/tiberius"]
