[tools]
"npm:@dbml/cli" = "latest"
"npm:@softwaretechnik/dbml-renderer" = "latest"
"github:rust-lang/mdBook" = "latest"
rust = "1.93.0"


[tasks.docs]
depends = "docs:build"

[tasks."docs:render"]
description = "Renders the Schema to an SVG"
run = ["dbml-renderer -i docs/schema.dbml -o docs/assets/schema.svg", "dbml-renderer -i docs/extended.dbml -o docs/assets/extended_schema.svg"]

[tasks."docs:build"]
depends = "docs:render"
description = "Use MdBook to generate documentation"
run = "mdbook build"

[tasks."docs:serve"]
depends = "docs:render"
description = "Uses MdBook to serve live documentation"
run = "mdbook serve --open"

[tasks."docs:clean"]
description = "cleans mdbook directories"
run = "mdbook clean"


[tasks.app]
depends = "app:build"

[tasks."app:build"]
description = "Uses rust and cargo to build app"
run = "cargo build --release"

[tasks."app:dev"]
description = "Run debug build"
run = "cargo run"

[tasks."app:clean"]
description = "Cargo clean"
run = "cargo clean"


[tasks."db:new"]
description = "Create a new migration file"
run = "echo TODO"
