[tools]
"npm:@dbml/cli" = "latest"
"npm:@softwaretechnik/dbml-renderer" = "latest"
"github:rust-lang/mdBook" = "latest"

[tasks.render]
description = "Renders the Schema to an SVG"
run = "dbml-renderer -i docs/schema.dbml -o docs/out/schema.svg"

[tasks.docs]
description = "Use MdBook to generate documentation"
run = "mdbook build"

[tasks."docs:serve"]
depends = "render"
description = "Uses MdBook to serve live documentation"
run = "mdbook serve --open"

[tasks."docs:clean"]
description = "cleans mdbook directories"
run = "mdbook clean"