[tools]
"npm:@dbml/cli" = "latest"
"npm:@softwaretechnik/dbml-renderer" = "latest"
rust = { version = "1.93.0", profile = "default", components = "rust-src" }
"github:rust-lang/mdbook" = "0.5.2"
"cargo:mdbook-gitinfo" = "2.0.0"
# Fork of mdbook-cmdrun with mdbook 0.5 support
"cargo:https://github.com/roberth/mdbook-cmdrun" = "rev:3947c797d063352e0f983311c078430215cc1cca"
jq = "1.8.1"

[env]
CSC_PROTO = "https"
CSC_HOST = "mycscgo.com"
CSC_PORT = ""
CSC_UA = ""


[tasks.docs]
description = "Runs docs:build"
depends = "docs:build"

[tasks."docs:render"]
description = "Renders Schemas to an SVG"
run = [
    "dbml-renderer -i docs/schema.dbml -o docs/assets/schema.svg"
]
sources = ["docs/schema.dbml"]
outputs = ["docs/assets/schema.svg"]

[tasks."docs:build"]
depends = "docs:render"
description = "Use MdBook to generate documentation"
run = "mdbook build"

[tasks."docs:serve"]
depends = "docs:render"
description = "Uses MdBook to serve live documentation"
run = "mdbook serve --open"

[tasks."docs:clean"]
description = "Cleans mdbook directories and generated assets"
run = [
    "mdbook clean",
    "rm docs/assets/schema.svg docs/assets/extended_schema.svg",
]

[tasks.db]
description = "Run db:up"
run = "db:up"

[tasks.app]
description = "Run app:build"
depends = "app:build"

[tasks."app:clean"]
description = "Clean cargo build files"
run = "cargo clean"


# Task templates
[settings]
experimental = true

[task_templates]
[task_templates."app:run"]
description = "Run app with only {{vars.feature}} enabled"
run = 'cargo run --no-default-features --features {{vars.feature}}'
env = { RUST_LOG = "debug,laundry_data=trace,h2=error" }

[task_templates."app:build"]
description = "Build app in release mode with only {{vars.feature}} enabled"
run = 'cargo build --no-default-features --features {{vars.feature}} --release'

[task_templates."app:check"]
description = "Check with clippy with only {{vars.feature}} enabled"
run = 'cargo clippy --no-default-features --features {{vars.feature}}'

[task_templates."app:deps"]
description = "Build a dependency tree using cargo"
run = 'cargo tree --no-default-features --features {{vars.feature}}'


[task_templates."db:clean"]
description = "Clean left over database files"

[task_templates."db:pre"]
description = "Ran before db:up"
run = "mkdir -p {{vars.data_dir}}"
outputs = "{{vars.data_dir}}"

[task_templates."db:up"]
depends = "db:pre"
description = "Start docker compose"
run = "docker compose -f compose.{{vars.feature}}.yaml up -d"

[task_templates."db:ps"]
description = "Check running docker compose containers"
run = "docker compose -f compose.{{vars.feature}}.yaml ps"

[task_templates."db:logs"]
description = "Check docker compose logs"
run = "docker compose -f compose.{{vars.feature}}.yaml logs --follow"

[task_templates."db:down"]
description = "Stop docker compose"
run = "docker compose -f compose.{{vars.feature}}.yaml down"
